@import url("https://use.typekit.net/okm0fpl.css");


html {
	block-size: 100%;
	inline-size: 100%;
}

.card-container {
	display: grid;
}

h1 {
	color: #322112;
	font-family: 'gravesend-sans', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	position: relative;
	font-size: 3rem;
}

img {
	max-width: 100%;
	height: auto;
}
/* https://codepen.io/alissatnyc/pen/OJOEMVM */
/* h1::before {
	transform: scaleX(0);
	transform-origin: bottom right;
}

h1:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

h1::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	inset: 0 0 0 0;
	background: rgb(255, 255, 255);
	z-index: -1;
	transition: transform .3s ease;
}


h1:hover {
	color: salmon;
} */


@media (min-width: 768px) {
	 .card-container {
		display: grid;
		grid-template-rows: repeat(3, auto);
		grid-template-columns: 4fr, 4fr, 5fr;
		grid-template-areas: ;

	 }
		
	}
