@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Poiret+One&display=swap");
body {
  background-image: url(/community/Grace/background.png);
  color: black;
  font-family: "Poiret One", cursive;
}
h1,
h2,
h3 {
  font-family: "Courgette", cursive;
}
.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.image {
  grid-area: 2 / 2 / 5 / 4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url(/community/Grace/me2.jpeg);
}

.name {
  grid-area: 5 / 2 / 6 / 4;
}
.social-media {
  grid-area: 6 / 2 / 7 / 4;
}
.about {
  grid-area: 2 / 5 / 3 / 7;
  font-size: larger;
}
.intro {
  grid-area: 3 / 5 / 5 / 7;
}
.resume-github {
  grid-area: 5 / 5 / 6 / 7;
}

/* Button CSS - source: https://getcssscan.com/css-buttons-examples*/
.button-30 .resume {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
