@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.heroSection {
    height: 600px;
    width: 100%;
    contain: content;
}

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroImage1 {
    background-image: url("../images/decebal.png");
}

.heroImage2 {
    background-image: url("../images/image1.png");
}

.heroImage3 {
    background-image: url("../images/skopje.png");
}

.heroImage4 {
    background-image: url("../images/transfagarasan.png");
}

.heroTextBox {
    background-color: #000;
    width: 100%;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: multiply;
    z-index: 10;
    display: flex;
    align-items: center;
}

.mainHeader {
    border: 15px solid #FFFFFF;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    position: relative;
    right: -22%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 8vw;
    color: #FFFFFF;
    z-index: 20;
}

@media screen and (max-width:2000px) {
    /* TOP PANEL */
}

@media screen and (max-width:1700px) {
    /* TOP PANEL */
}

@media screen and (max-width:1400px) {
    /* TOP PANEL */
}

@media screen and (max-width:1200px) {
    /* TOP PANEL */
}

@media screen and (max-width:1024px) {
    /* TOP PANEL */
    .heroSection,
    .heroTextBox {
        height: 400px;
    }
}

@media screen and (max-width:768px) {
    /* TOP PANEL */
    .heroSection,
    .heroTextBox {
        height: 300px;
    }

    .mainHeader {
        border-width: 10px;
    }
}

@media screen and (max-width:480px) {
    /* TOP PANEL */
}
