* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #00f3ff;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 6.2rem;
  text-align: center;
  color: #001819;
  padding: 2rem;
}

h1 span {
  font-size: 3.6rem;
}

main {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.left-side {
  max-width: 50%;
}

.right-side {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.right-side p {
  font-size: 2.4rem;
  padding: 2rem;
  margin: 0 6.4rem;
}
