@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #00f3ff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Passions Conflict", cursive;
  font-size: 6.2rem;

  text-align: center;
  color: #001819;
  padding: 2rem;
}

h1 span {
  font-size: 3.6rem;
}

main {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
}

.left-side {
  max-width: 40%;
}

.right-side {
  font-family: "Ubuntu", sans-serif;

  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-side p {
  font-size: 2.4rem;
  padding: 2rem;
  margin: 0 6.4rem;
}

.last-side {
  max-width: 10%;
}

.soc-links {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  justify-content: center;
  align-items: center;
  font-size: 3.6rem;
}

.soc-links a i {
  /* color: #e6feff; */
  color: #001819;
  transition: all 0.3s;
}

.soc-links a i:hover {
  color: #e6feff;
}
