* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}
body {
    display: flex;
    position: relative;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5em;
    transform-style: preserve-3d;
    perspective: 1500px;
    background:
        radial-gradient(circle, #00314099 0%, #000000EE 50%), 
        url('../img/rough.png');
}

.title {
    color: #FFFFFFFF;
    text-align: center;
}

.banner {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    color: white;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    aspect-ratio: 1/1;
    text-shadow: 1px 1px 5px black;
    background: radial-gradient(circle, lightblue 0%, transparent 75%); 
}

#cube-wrapper {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10em;
    height: 10em;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
}

css3d-cuboid {
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from { transform: rotate3d(0); }
    to { transform: rotate3d(1,1,0, 360deg);}
}

css3d-cuboid > div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    color: #FFFFFFFF;
    text-shadow: 1px 1px 5px black;

    transform: translateZ(-10px);
}

css3d-cuboid::part(face) {
    outline: 1px solid #143A4480;
    transform-style: preserve-3d;
    background: #00d5ffaa radial-gradient(circle, #00000000 0%, #000000AA 90%);
}