* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

css3d-cuboid {
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from { transform: rotate3d(0); }
    to { transform: rotate3d(2,1,0, 360deg);}
}

css3d-cuboid > div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    transform: translateZ(5em);
}

css3d-cuboid::part(face) {
    outline: 1px solid #006280EE;
    transform-style: preserve-3d;

    background: #00d5ffaa radial-gradient(circle, #00000000 0%, #00000088 100%);
}