@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');

body {
    background: url(background.jpg) no-repeat;
    background-size: 100%;
}
main {
    font-family: 'Road Rage', cursive;
    color: aliceblue;
    text-shadow: 0 0 5px black;
    text-align: center;

}

#index {
    height: 100vh;
    position: fixed;
    left: 5%;
    right: 0;
    top: 8vh;
}

.four-rem{
    font-size: 4rem;
}

.three-rem{
    font-size: 3rem;
}

#socials {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

i {
    color: brown;
    /* margin: 0 5vw; */
    text-shadow: 0 0 5px white;
}

button {
    font-family: 'Road Rage';
    font-size: xxx-large;
    background: #a6292a;
    color: aliceblue;
    text-shadow: 0 0 5px black;
}

#back {
    /* position: absolute; */
    font-size: x-large;
    margin-left: 5px;
}

.carousel-inner {
    height: 80vh;
}

img {
    height: 80vh;
}