@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: lightblue url("./halloween.jpg") no-repeat fixed center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.welcome {
    font-family: 'Creepster', sans-serif;
    color: #E66C2C;
    text-shadow: 3px 3px #000;
    font-size: 3rem;
}

.fa-skull-crossbones {
    font-size: 2rem;
    color: #f9ca24;
    text-shadow: 1px 1px #000;
}

.fa-spider {
    font-size: 1.5rem;
    color: #E66C2C;
    text-shadow: 1px 1px #161615;
}

.fa-or {
    color: #E66C2C;
    text-shadow: 2px 2px #000;
}
.click-btn {
  background-color: #161615;
  color: #E66C2C;
  font-family: 'Creepster', sans-serif;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  position: fixed;
  top: 90%;
  letter-spacing: 1px;
  box-shadow: 0 3px #E66C2C;
  z-index: 100;
}

.click-btn:focus {
  outline: none;
}

.click-btn:active {
  box-shadow: none;
  transform: translateY(2px);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: 500px;
  position: relative;
  transition: 0.4s ease;
}

.boxes.big {
  width: 600px;
  height: 600px;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  background-image: url('https://media4.giphy.com/media/3oz8xF1QzDWjSkQkW4/giphy.gif?cid=ecf05e47otcto7qk6soj8ego7utt8cf9y2cgwyygrwuivsqq&rid=giphy.gif&ct=g');
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  height: 125px;
  width: 125px;
  transition: 0.4s ease;
}

.box::after {
  content: '';
  background-color: #3b3a32;
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}

.box::before {
  content: '';
  background-color: #3b3a32;
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}