<slide-show>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        #slide-controls {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
        }
        button {
            width: 50px;
        }
    </style>

    <!-- Props: 
        timeout = seconds a slide should be shown before moving to the next.
        animation = which animation to use, fade or slide.
        
    -->

    <slot name="slides">
        <!-- The individual slides should be inserted here -->
    </slot>

    <div id="slide-controls">
        <button id="prev-btn">
            <slot name="previous">
                <!-- Default if not present -->
            </slot>
        </button>

        <button id="next-btn">
            <slot name="next">
                <!-- Default if not present -->
            </slot>
        </button>
        <!-- Slot for indicator? -->
    </div>
</slide-show>