@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@300&display=swap');

/* Globals */
:root {
    /* Project Colors */
    --background-color: #f3f3f3;
    --font-color: #202020;
    --font-color-lt: #f3f3f3;
    --primary-color: #94ebf1;
    --secondary-color: #072c30;
    --secondary-color-lt: #1f5d64;
    --tertiary-color: #94b0b3;
    --tertiary-color-dk: #434f50;

    /* Project Font Pairings */
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Nunito', sans-serif;

    /* Card Watermark links */
    --gh-watermark: url('../images/gh-icon-1.png');
}

    /* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--font-color);
    min-height: 100vh;
    position: relative;
}

body::after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url('../images/git_icon.png');
    background-size: 20rem 20rem;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    opacity: 0.2;
    filter: hue-rotate(150deg);
}

img {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* Utilities */

.margin-yt-sm {
    margin: 1.5rem 0 0;
}

.margin-yt-md {
    margin-top: 2rem;
}

.margin-yb-sm {
    margin: 0 0 1.5rem;
}

.margin-y-md {
    margin: 3rem 0;
}

.center-txt {
    text-align: center;
}

.custom-underline::after {
    content: '';
    display: block;
    height: 2px;
    width: 70%;
    background-color: var(--tertiary-color);
    margin: 1rem auto 0;
}

/* Index */

#content {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

#content-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
}

.primary-heading {
    font-size: 2rem;
}

.sub-heading {
    line-height: 2rem;
}

.sub-heading::before {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    margin: 0 0 1rem;
    background-color: var(--secondary-color);
}

.sub-heading::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    margin: 1rem 0 0;
    background-color: var(--secondary-color);
}

#content-column p {
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    text-align: justify;
}

#content-image {
    margin: 3rem 0;
}

#content-image img {
    height: 13rem;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    filter: hue-rotate(330deg) drop-shadow(8px 8px 10px var(--secondary-color));
}

#community-section h1::after {
    content: '';
    display: block;
    height: 2px;
    width: 80%;
    margin: 1rem auto;
    background-color: var(--secondary-color);
}

#community {
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
    align-items: center;
    margin-bottom: 7rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 18rem;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 2px solid var(--secondary-color);
    margin: 1rem;
    position: relative;
}

.card::after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: var(--gh-watermark);
    background-size: 40%, contain;
    background-position: -10% 100%;
    background-repeat: no-repeat;
    opacity: 0.2;
    filter: hue-rotate(150deg);
    z-index: 1;
}

.card-title {
    width: inherit;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
    text-transform: capitalize;
    border-radius: 2rem;
    font-family: var(--secondary-font);
    background-color: rgba(148, 235, 241, 0.75);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-sub, .card-detail {
    font-size: 1.3rem;
    padding: 5px 0;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-detail {
    text-align: right;
}

.participant-link {
    align-self: center;
    margin: 2rem 0 1.5rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: var(--secondary-font);
    color: var(--tertiary-color-dk);
    font-weight: bold;
    cursor: pointer;
    font-style: italic;
    z-index: 2;
}

.participant-link::before {
    position: absolute;
    content: attr(data-content);
    color: var(--secondary-color);
    text-decoration: underline;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: all 275ms ease-in-out;
}

.participant-link:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* Footer */

footer {
    margin-top: 2rem;
    border-top: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--font-color);
    font-size: 1.3rem;
    padding: 1rem 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

#repo-go {
    position: absolute;
    top: -25%;
    width: 80%;
    padding: 1rem;
    background-color: rgba(7, 44, 48, 0.85);
    color: var(--font-color-lt);
    border-radius: 1rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#repo-go a {
    color: var(--font-color-lt);
    cursor: pointer;
    align-self: center;
    margin: 1rem 0;
}

#additional-info {
    margin-top: 5rem;
}

#additional-info p {
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
}

#team-list > li {
    margin: 0.5rem 0;
}

/* Media Queries */

@media (min-width: 576px) {
    #content {
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }

    .primary-heading {
        font-size: 3rem;
    }

    #content-column p {
        word-spacing: 5px;
    }
}

@media (min-width: 768px) {
    #content {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr auto;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    #content-column {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    #content-column p {
        grid-column: 1 / 2;
    }

    #content-image {
        grid-column: 2 / -1;
    }

    #content-image img {
        height: 15.5rem;
    }
}

@media (min-width: 992px) {
    #content-column {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .primary-heading {
        font-size: 4rem;
    }

    #content-image {
        margin-right: 4rem;
    }

    #content-image img {
        height: 18rem;
    }
}

@media (min-width: 1200px) {
    #content {
        height: 60vh;
    }

    #content-column {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    #content-image {
        margin-right: 7rem;
    }
}