body {
    background: #4AC29A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1 {
    text-align: center;
}

#cant-touch-me {
    background: transparent;
    position: absolute;
    border: 0;
}

img {
    width: 150px;
    height: 150px;
}