body {
  font-family: "Quicksand", sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: Quicksand;
}

a {
  text-decoration: none;
  font-size: 30px;
  color: black;
  padding: 6px;
}

button:hover, a:hover {
  opacity: 0.7;
}

footer {
    text-align: center;
}