@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

:root {
    --primary-color: rgb(19, 17, 28);
    --plastic: rgb(168, 205, 238, .6);
    --plastic-lighter: rgba(204, 231, 242);
    --plastic-darker: rgba(49, 96, 114, 0.471);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--primary-color);
    color: var(--plastic-lighter);
    font-family: 'Dosis', sans-serif;
}

header {
    position: absolute;
    top: 10px;
    z-index: 1;
    width: 100%;
    margin-bottom: 100px;
    padding: 10px;
    color: var(--plastic-lighter);
    background-color: var(--primary-color);
    text-align: center;
    letter-spacing: 1em; 
}

h1 {
    padding: 0 60px;
}

i {
    position: absolute;
    top: 15px;
    right: 5%;
    font-size: 2em;
}

#off {
    display: none;
}

.animate {
    position: absolute;
    top: -5%;
    width: 500px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    --color: rgb(221, 221, 110);
    background-color: var(--color);
    transform: translate(-50%, 30%);
    animation: left_movement 5s linear 1s infinite alternate;
}

.animate:nth-child(2) {
    --color: rgb(181, 63, 165);
    top: 50%;
    right: 10%;
    animation: right_movement 6s linear 1s infinite alternate;
}

@keyframes left_movement {
    from {
        transform: translate(-50%, 30%);
    }

    to {
        transform: translate(-60%, 20%);     
    }
}

@keyframes right_movement {
    from {
        transform: translate(-30%, 40%);
    }

    to {
        transform: translate(10%, 20%);     
    }
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    width: fit-content;
    margin-top: 150px;
    padding: 30px;
    border-radius: 50px;
    background-color: var(--plastic);
    backdrop-filter: blur(1px);
}

.bubble {
    position: relative;
    width: 180px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--plastic);
    border: 1px solid var(--plastic-lighter);
    isolation: isolate;
    opacity: 1;
    box-shadow: 20px 5px 10px var(--plastic-darker), 
    inset -5px -15px 80px var(--plastic-lighter), 
    inset 20px 20px 20px var(--plastic-darker);
}

.bubble::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    aspect-ratio: 1/1;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: var(--plastic-lighter);
    opacity: .15;
}

.bubble.popped {
    opacity: .6;
    box-shadow: -3px -3px 6px var(--plastic-lighter),
    inset -15px -15px 20px var(--plastic-lighter), 
    inset 5px 5px 30px var(--plastic-darker);
}

.bubble.popped::after {
    top: 15%;
    left: 15%;
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--plastic-darker);
    opacity: 1;
    filter: blur(12px);
}

.reset {
    z-index: 10;
    margin: 30px;
    padding: .3em .5em;
    font-size: 2em;
    letter-spacing: .2em;
    text-align: center;
    color: inherit;
    background-color: var(--plastic-darker);
    border: 2px solid var(--plastic-lighter);
}

.reset:hover,
.reset:focus {
    background-color: var(--primary-color);
    opacity: .8;
}

/* Media queries */

@media screen and (max-width: 930px) {

    .animate {
        width: 400px;
    }
    main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .bubble {
        width: 150px;
    }

    .bubble.popped::after {
        width: 80px;
    }
}

@media screen and (max-width: 700px) {

    .animate {
        width: 250px;
    }

    .main {
        margin-top: 50px;
    }

    .bubble {
        width: 100px;
    }

    .bubble::after {
        width: 30px;
    }

    .bubble.popped::after {
        top: 20%;
        left: 20%;
        width: 40px;
    }
}