/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@0;1&family=Prompt&display=swap');

/* Root variables */
:root {
    --p-color: #29144b;
    --s-color: #fffade;
    --t-color: #936bc6;

    --font-header: 'Exo', sans-serif;
    --font-content: 'Prompt', sans-serif;
}

/* CSS Resets */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Globals */
html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--p-color);
    color: var(--s-color);
    min-height: 100%;
    position: relative;
    font-family: var(--font-content);
    font-size: 1.6rem;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: var(--font-header);
    font-size: 1.6rem;
}

a {
    color: var(--s-color);
}

a:hover, a:focus, a:active {
    color: var(--t-color);
}

/* Content styles */
#svg-bg {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    opacity: 30%;
    position: fixed;
    z-index: 1;
    filter: blur(3px) brightness(500%) invert(90%);
}

#content {
    position:  relative;
    height: 100%;       
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 1rem;
    margin: 2rem;
    border: 1.6rem solid rgba(255, 250, 222, 0.02);
    border-radius: 5rem 1rem 10rem 1rem;
    backdrop-filter: blur(10px) sepia(10%) saturate(2);
}