@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: #17141d;
    color: white;
    font-family: "DM Mono", monospace;
    max-height: 100vh;
    max-width: 100vw;
}

.card-container {
    margin-top: 20vh;
}

.card {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    position: relative;
    height: 400px;
    width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: 0 0 3rem #000;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

}

.card:hover {
    transform: translateY(-1rem);
    box-shadow: 0 0 3rem rgb(234, 234, 108);

}

.author-image-container {
    display: inline-block;
    height: 70px;
    width: 70px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;

}

.author-image {
    background: url(/community/Ant/assets/img/authorimage.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

.author-name {
    float: right;
    font-size: 16px;
    text-align: center;
    margin-right: 25px;

}

.card-header p {
    margin: 0;
    font-size: 14px;
}

.card-header h4 {
    margin: 12px 0 3px 0;
}

.languages td {
    font-size: 14px;
    border: none;
    padding: 10px 15px 10px 0;
}

.languages td i {
    font-size: 25px;
}